PORT=3002
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.jqo1f0u.mongodb.net/?appName=Cluster0
JWT_SECRET=your_very_long_random_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
